<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Повернутое изображение</title>

</head>
<body>
   
    <h1>Повернутое изображение</h1>
    <img src="{{ image_url }}" alt="Rotated Image" style="max-width:100%; height:auto;">
    <p>Путь к сохранённому файлу: <a href="{{ image_url }}" download>{{ image_path }}</a></p>
    <a href="http://localhost:8000">Вернуться на главную</a>

</body>
</html>